<div class="row">
  <div class="medium-7 columns">
    {% if paginator.total_pages > 1 %}
    {% if paginator.page != 1 %}
      {% if paginator.previous_page == 1 %}
      <a class="left button tiny radius icon-chevron-left r15" href="{{ site.url }}/{{ page.category }}" class="previous">Previous Page</a>
      {% else %}
      <a class="left button tiny radius icon-chevron-left r15" href="{{ site.url }}/{{ page.category }}/page{{ paginator.previous_page }}" class="previous">Previous Page</a>
      {% endif %}
    {% else %}
    <p> </p>
    {% endif %}
  </div>
  <div class="medium-3 columns">
    {% if paginator.next_page %}
      <a class="button tiny radius" href="{{ site.url }}/{{ page.category }}/page{{ paginator.next_page }}" class="next">Next Page<span class="icon-chevron-right"></span></a>
    {% endif %}
    {% endif %}
  </div>
  <div class="medium-2 columns">
  </div>
</div>
