<ul class="no-bullet categories">
  {% for link in site.data.reportsCategories %}
  {% if link.url contains 'http' %}
    {% assign domain = '' %}
  {% elsif link.url == '#' %}
    {% assign domain = '' %}
  {% else %}
    {% assign domain = site.url %}
  {% endif %}
  <li{% if link.url == page.url %} class="active"{% endif %}><a href="{{ domain }}{{ link.url }}"{% if link.url contains 'http' %} target="_blank"{% endif %}>{{ link.title }}</a></li>
  <li class="divider"></li>
  {% endfor %}
  </ul>
