.legacy {
  height: 1100px;
  width: 100%;
}
@media screen and (max-width: 640px) {
  .legacy {
    width: 600px;
    height: 1100px; } }
@media screen and (max-width: 400px) {
  .legacy {
    height: 568px;
    width: 280px; } }
