---
layout: compress
header:
   image_fullwidth: "header_unsplash_5.jpg"
---
{% include head.html %}
<body id="top-of-page" class="{{ page.format }}">
	{% include navigation.html %}

	{% include masthead.html %}

	{% if page.breadcrumb == true %}
	{% include breadcrumb.html %}
	{% endif %}

	<div class="row t30 b20 homepage">
	  <h2 style="text-transform:capitalize">{{ page.category }}</h2>
	</div>

	<div class="row">
	  <div class="medium-9 columns">
	{{ content }}
		</div>
		<div class="medium-1 columns">
	  </div>
		{% if page.category == "teleseminars" %}
	  <div class="medium-3 columns">
		</div>
		{% elsif page.category =="presentations" %}
	  <div class="medium-3 columns">
		</div>
		{% else %}
	  <div class="medium-3 columns">
	  {% include reportsCategories.html %}
	  </div>
		{% endif %}
	</div>
	{% include footer.html %}

	{% include footer_scripts.html %}
</body>
</html>
